{"openapi":"3.0.1","info":{"title":"Sitewire API","version":"v2","description":"The Sitewire API provides programmatic access to site inspection and draw management workflows.\n\n## Authentication\nAPI requests require authentication using token authentication headers. Authorized users can create and delete credentials in the API tab.\n- `access-token`: Authentication token, e.g. `NNAU6z8DMhFCsYOtT3uqCA`\n- `client`: Client identifier, e.g. `C_m-s_mM0jSw8PjFqxrS1c`\n- `uid`: User identifier, e.g. `name@example.com`\n\n\n","contact":{"name":"Sitewire Support","email":"support@sitewire.co"},"license":{"name":"Proprietary"}},"tags":[{"name":"Borrowers","description":"Borrower organizations represent real estate development teams. Borrowers submit draw requests and site checks to lenders for review."},{"name":"Lenders","description":"Lender organizations oversee loan-financed projects. Lenders enter project budgets, set funding parameters, review borrower-submitted draw requests and site checks, forward requests to capital partners, and manage the overall funding process."},{"name":"Capital Partners","description":"Capital partner organizations can access their portfolio and participate in the draw review process."},{"name":"Properties","description":"Properties represent construction projects. Properties may have a lender, borrower,  and capital partner. Properties consolidate loan, site check, documents, and other details. Properties are the central entity that connect all other resources in the system."},{"name":"Budgets","description":"Budgets (also referred to as loans) represent the construction project budget. Each budget contains job items (budget line items) that define the scope of work and available funds. They also define funding parameters like funding threshold or ratio. Draw requests reference job items from the property's loan budget."},{"name":"Draws","description":"Draws represent funding requests for construction projects. Each draw contains one or more dollar-denominated requests against budget job items. Draws go through a workflow from borrower submission through some combination of inspector, lender, and capital partner approval. Draws belong to a property's loan budget and can include inspections, documents, and other details."},{"name":"Requests","description":"Requests represent individual job item requests within a draw. Each request links a job item to media documenting the work and dollar-denominated requested and approved amounts, among other details. Requests are the building blocks of draws and represent specific work items being funded."},{"name":"Deliverable Updates","description":"Deliverable updates enable Site Checks, condition reports with no funding component.  Each deliverable update contains multiple deliverable update entries and goes through a review workflow.  Deliverable updates include proofs (photos/videos), documents, and a PDF report, among other details."},{"name":"Deliverable Update Entries","description":"Deliverable update entries represent individual deliverable items within a deliverable update. Each entry links a deliverable item to a deliverable update and can include proofs (photos/videos) and notes."},{"name":"Quick Notify Statuses","description":"Quick notify statuses are lender-defined pipeline labels that can be attached to draws to communicate where a draw sits in the lender's internal workflow (e.g. \"Awaiting internal approval\", \"Sent to the wire department\")."}],"servers":[{"url":"https://app.sitewire.co"}],"consumes":["application/json"],"produces":["application/json"],"paths":{"/api/v2/borrowers":{"get":{"summary":"list borrowers","tags":["Borrowers"],"description":"Authentication required","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Success (list borrowers)":{"value":[{"id":202,"company_name":"Similique Dolores","contact_first_name":"Saepe","contact_last_name":"Quo","contact_email":"user4588261@example.com","contact_phone":"(159) 065 6873","address":{"full_address":"9182 Esse St, Velit, KY 89419","street":"9182 Esse St","street_with_unit":"9182 Esse St","unit":null,"csz":"Velit, KY 89419"}},{"id":203,"company_name":"Corporis Nobis","contact_first_name":"Tempora","contact_last_name":"Aut","contact_email":"user4592131@example.com","contact_phone":"(627) 651-8421","address":{"full_address":"4732 Qui St, Ipsa, KY 08839-1567","street":"4732 Qui St","street_with_unit":"4732 Qui St","unit":null,"csz":"Ipsa, KY 08839-1567"}}]}},"schema":{"type":"array","items":{"$ref":"#/components/schemas/Borrower"}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}},"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v2/borrowers/{id}":{"parameters":[{"name":"id","in":"path","description":"Unique identifier for the borrower","required":true,"example":"123","schema":{"type":"string"}}],"get":{"summary":"show borrower","tags":["Borrowers"],"description":"Borrower details","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Success (show borrower)":{"value":{"id":210,"company_name":"Est Qui","contact_first_name":"Quia","contact_last_name":"Aut","contact_email":"user4721827@example.com","contact_phone":"603-562-8202","address":{"full_address":"3511 Quia St, Laudantium, AK 46727","street":"3511 Quia St","street_with_unit":"3511 Quia St","unit":null,"csz":"Laudantium, AK 46727"}}}},"schema":{"$ref":"#/components/schemas/Borrower"}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}},"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"not found","content":{"application/json":{"examples":{"Borrower not found":{"value":{"status":"error","error":"not-found"}}},"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}}},"/api/v2/budgets/{id}":{"parameters":[{"name":"id","in":"path","description":"Unique identifier for the budget","required":true,"example":"123","schema":{"type":"string"}}],"get":{"summary":"show budget","tags":["Budgets"],"description":"Budget not found","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Success (show budget)":{"value":{"id":188,"draw_eligible":true,"funding_ratio":73.43,"funding_threshold_cents":2243,"draws":[{"id":142,"historical":false,"name":"Draw 141","number":141,"status":"drafting","funding_ratio":73.43,"funding_threshold_cents":2243,"updated_at":"1970-01-01T00:00:00.000Z","coordinator_id":null,"quick_notify_status_id":null,"total_requested_cents":0,"total_approved_cents":0}],"total_budgeted_cents":593300,"total_approved_cents":0,"balance_cents":593300,"job_items":[{"id":87,"name":"Plastic 724","description":null,"budgeted_cents":593300,"available_cents":593300,"created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","total_approved_cents":0,"total_released_cents":0,"required_image_count":5,"required_image_status":"required","required_video_count":1,"required_video_status":"required","required_document_status":"accepted","mandatory":false}]}}},"schema":{"$ref":"#/components/schemas/Budget"}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}}}}},"404":{"description":"not found","content":{"application/json":{"examples":{"Budget not found":{"value":{"status":"error","error":"not-found"}}},"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}},"patch":{"summary":"update budget","tags":["Budgets"],"description":"Updates a budget, including funding parameters, job items, job item details, and draw eligibility.","parameters":[],"responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Update an existing job item":{"value":{"id":192,"draw_eligible":true,"funding_ratio":100.0,"funding_threshold_cents":0,"draws":[],"total_budgeted_cents":12345,"total_approved_cents":0,"balance_cents":12345,"job_items":[{"id":91,"name":"Vinyl 157","description":null,"budgeted_cents":12345,"available_cents":12345,"created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","total_approved_cents":0,"total_released_cents":0,"required_image_count":5,"required_image_status":"required","required_video_count":1,"required_video_status":"required","required_document_status":"accepted","mandatory":false}]}},"Sets the budget funding_ratio":{"value":{"id":193,"draw_eligible":true,"funding_ratio":32.3,"funding_threshold_cents":0,"draws":[],"total_budgeted_cents":0,"total_approved_cents":0,"balance_cents":0,"job_items":[]}},"Sets the budget funding_threshold_cents":{"value":{"id":194,"draw_eligible":true,"funding_ratio":100.0,"funding_threshold_cents":123456,"draws":[],"total_budgeted_cents":0,"total_approved_cents":0,"balance_cents":0,"job_items":[]}},"Sets the budget funding to 'standard'":{"value":{"id":195,"draw_eligible":true,"funding_ratio":100.0,"funding_threshold_cents":0,"draws":[],"total_budgeted_cents":0,"total_approved_cents":0,"balance_cents":0,"job_items":[]}},"Add a job item with lender default media counts":{"value":{"id":196,"draw_eligible":true,"funding_ratio":100.0,"funding_threshold_cents":0,"draws":[],"total_budgeted_cents":100,"total_approved_cents":0,"balance_cents":100,"job_items":[{"id":92,"name":"My new item","description":null,"budgeted_cents":100,"available_cents":100,"created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","total_approved_cents":0,"total_released_cents":0,"required_image_count":1,"required_image_status":"required","required_video_count":1,"required_video_status":"required","required_document_status":"accepted","mandatory":false}]}},"Add a job item with custom media requirements":{"value":{"id":197,"draw_eligible":true,"funding_ratio":100.0,"funding_threshold_cents":0,"draws":[],"total_budgeted_cents":100,"total_approved_cents":0,"balance_cents":100,"job_items":[{"id":93,"name":"My new item","description":null,"budgeted_cents":100,"available_cents":100,"created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","total_approved_cents":0,"total_released_cents":0,"required_image_count":5,"required_image_status":"required","required_video_count":0,"required_video_status":"accepted","required_document_status":"accepted","mandatory":false}]}},"Delete a job item":{"value":{"id":198,"draw_eligible":true,"funding_ratio":100.0,"funding_threshold_cents":0,"draws":[],"total_budgeted_cents":0,"total_approved_cents":0,"balance_cents":0,"job_items":[]}}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}}}}},"403":{"description":"unauthorized","content":{"application/json":{"examples":{"Unauthorized budget update":{"value":{"status":"error","error":"You are not authorized to perform this action."}}}}}},"404":{"description":"missing","content":{"application/json":{"examples":{"Budget not found":{"value":{"status":"error","error":"not-found"}}}}}},"422":{"description":"unprocessable entity","content":{"application/json":{"examples":{"Job item not in budget":{"value":{"status":"error","errors":{"job_items":["Invalid job item. No job item with id 97 found on budget."]}}},"Job item cannot be renamed":{"value":{"status":"error","errors":{"job_items":["Job item (98) has associated draw requests and cannot be renamed."]}}},"Job item budgeted cents cannot be less than approved":{"value":{"status":"error","errors":{"job_items":["Job item (99) budgeted_cents must be greater than or equal to funds approved or pending in existing draws (1000)."]}}},"Job item no id or name or budgeted_cents":{"value":{"status":"error","errors":{"job_items":["Missing required parameters for job item at position 0. \"id\" is required for existing items. \"name\" or \"budgeted_cents\" is required for new items."]}}}}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"budget":{"type":"object","properties":{"funding_ratio":{"type":"number","format":"float","description":"Percent of budgeted amount lender will fund. (1-100)","minimum":1,"maximum":100,"example":80,"nullable":true},"funding_threshold_cents":{"type":"integer","description":"Portion of budgeted amount lender will NOT fund (US cents)","minimum":0,"example":8000,"nullable":true},"draw_eligible":{"type":"boolean","description":"Whether draws can be created or submitted for this budget","example":true,"nullable":true},"job_items":{"type":"array","minItems":1,"description":"Array of job items (budget line items)","items":{"type":"object","properties":{"id":{"type":"integer","description":"Unique identifier for existing job item. Omit for new job items."},"name":{"type":"string","description":"Name of the job item","example":"Foundation Work"},"budgeted_cents":{"type":"integer","minimum":0,"description":"Budgeted amount for this job item in US cents","example":50000},"required_image_count":{"type":"integer","minimum":0,"description":"The minimum number of inspection images required for requests against this job item.","example":2},"required_video_count":{"type":"integer","minimum":0,"description":"The minimum number of inspection videos required for requests against this job item","example":1},"mandatory":{"type":"boolean","description":"Whether this job item must be included in every draw","example":false},"_destroy":{"type":"boolean","description":"Set to `true` to delete a job item from the budget (requires `id`).","example":false}}}}}}},"required":["budget"]},"examples":{"Update an existing job item":{"summary":"Update an existing job item","value":{"budget":{"job_items":[{"id":91,"budgeted_cents":12345}]}}},"Sets the budget funding_ratio":{"summary":"Sets the budget funding_ratio","value":{"budget":{"funding_ratio":32.3,"funding_threshold_cents":null}}},"Sets the budget funding_threshold_cents":{"summary":"Sets the budget funding_threshold_cents","value":{"budget":{"funding_ratio":null,"funding_threshold_cents":123456}}},"Sets the budget funding to 'standard'":{"summary":"Sets the budget funding to 'standard'","value":{"budget":{"funding_ratio":null,"funding_threshold_cents":null}}},"Add a job item with lender default media counts":{"summary":"Add a job item with lender default media counts","value":{"budget":{"job_items":[{"name":"My new item","budgeted_cents":100}]}}},"Add a job item with custom media requirements":{"summary":"Add a job item with custom media requirements","value":{"budget":{"job_items":[{"name":"My new item","budgeted_cents":100,"required_image_count":5,"required_video_count":0}]}}},"Delete a job item":{"summary":"Delete a job item","value":{"budget":{"job_items":[{"id":94,"_destroy":true}]}}},"Unauthenticated request":{"summary":"Unauthenticated request","value":{"budget":{"funding_ratio":1}}},"Capital partner unauthorized request":{"summary":"Capital partner unauthorized request","value":{"budget":{"funding_ratio":1}}},"Budget not found":{"summary":"Budget not found","value":{"budget":{"funding_ratio":1}}},"Job item not in budget":{"summary":"Job item not in budget","value":{"budget":{"job_items":[{"id":97,"budgeted_cents":100}]}}},"Job item cannot be renamed":{"summary":"Job item cannot be renamed","value":{"budget":{"job_items":[{"id":98,"name":"a new name"}]}}},"Job item budgeted cents cannot be less than approved":{"summary":"Job item budgeted cents cannot be less than approved","value":{"budget":{"job_items":[{"id":99,"budgeted_cents":100}]}}},"Job item no id or name or budgeted_cents":{"summary":"Job item no id or name or budgeted_cents","value":{"budget":{"job_items":[{"required_image_count":4}]}}}}}}}}},"/api/v2/capital_partners":{"get":{"summary":"list capital partners","tags":["Capital Partners"],"description":"Authentication required","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Success (list capital partners)":{"value":[{"id":45,"name":"Ut Fuga548"},{"id":46,"name":"Vel Ea679"}]}},"schema":{"type":"array","items":{"$ref":"#/components/schemas/CapitalPartner"}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}},"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v2/deliverable_update_entries/{id}":{"parameters":[{"name":"id","in":"path","description":"id","required":true,"schema":{"type":"string"}}],"get":{"summary":"show deliverable_update_entry","tags":["Deliverable Update Entries"],"description":"Returns details for a deliverable update entry, including deliverable item details and proofs with media links.","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Success (show deliverable update entry)":{"value":{"id":23,"type":"DeliverableUpdateSurveyEntry","deliverable_item":{"id":25,"type":"DeliverableSurveyItem","name":"Plastic","description":null,"required_image_count":3,"required_video_count":1,"mandatory":false},"comments":"inspector comments","proofs":[{"id":36,"type":"DeliverableUpdateImageProof","note":"Plastic","latitude":"34.0","longitude":"-88.0","captured_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","media":{"src":"http://www.example.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBQZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--d53dd7e34b8affd4af9837181703d0c948332f64/door1.jpg","thumbnail":"http://www.example.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBQZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--d53dd7e34b8affd4af9837181703d0c948332f64/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWJScEFiUT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--ddb398a385977ba57016eafe5993b5c3e2f9f400/door1.jpg","media_type":"image"}},{"id":37,"type":"DeliverableUpdateVideoProof","note":"Glass","latitude":"32.0","longitude":"-87.0","captured_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","media":{"src":"http://www.example.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBQdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--b9bccabaa496d166969cbaedb2830ef38d6a00ca/basement.mp4","thumbnail":null,"media_type":"video"}}]}}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}}}}},"404":{"description":"missing","content":{"application/json":{"examples":{"Deliverable update entry not found":{"value":{"status":"error","error":"not-found"}}}}}}}}},"/api/v2/deliverable_updates":{"get":{"summary":"list deliverable_updates","tags":["Deliverable Updates"],"description":"Lists all deliverable updates, ordered by last updated date.","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Success (list deliverable updates)":{"value":[{"id":44,"type":"SurveyDeliverableUpdate","name":"Deliverable Update 44","status":"open","updated_at":"1970-01-01T00:00:00.000Z"}]}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}}}}}}}},"/api/v2/deliverable_updates/{id}":{"parameters":[{"name":"id","in":"path","description":"id","required":true,"schema":{"type":"string"}}],"get":{"summary":"show deliverable_update","tags":["Deliverable Updates"],"description":"Returns details for a deliverable update, including entry details, proofs, documents, and PDF report.","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Success (show deliverable update)":{"value":{"id":48,"type":"SurveyDeliverableUpdate","name":"Deliverable Update 48","status":"open","updated_at":"1970-01-01T00:00:00.000Z","deliverable":{"id":48},"deliverable_update_entries":[{"id":32,"type":"DeliverableUpdateSurveyEntry","deliverable_item":{"id":34},"comments":"inspector comments"}],"pdf_src":"http://www.example.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBTdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--dc78ca4e604202a72e36967bac3deb748480338a/empty.pdf"}}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}}}}},"404":{"description":"missing","content":{"application/json":{"examples":{"Deliverable update not found":{"value":{"status":"error","error":"not-found"}}}}}}}}},"/api/v2/draws":{"get":{"summary":"list draws","tags":["Draws"],"description":"Lists all draws, ordered by last updated date.","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"example":{"value":[{"id":153,"historical":false,"name":"Draw 152","number":152,"status":"pending","funding_ratio":77.85,"funding_threshold_cents":9466,"updated_at":"1970-01-01T00:00:00.000Z","coordinator_id":null,"quick_notify_status_id":null,"total_requested_cents":0,"total_approved_cents":0},{"id":152,"historical":false,"name":"Draw 151","number":151,"status":"inspecting","funding_ratio":77.85,"funding_threshold_cents":9466,"updated_at":"1970-01-01T00:00:00.000Z","coordinator_id":null,"quick_notify_status_id":null,"total_requested_cents":0,"total_approved_cents":0},{"id":151,"historical":false,"name":"Draw 150","number":150,"status":"drafting","funding_ratio":77.85,"funding_threshold_cents":9466,"updated_at":"1970-01-01T00:00:00.000Z","coordinator_id":null,"quick_notify_status_id":87,"total_requested_cents":0,"total_approved_cents":0}]}},"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Unique identifier for the draw"},"name":{"type":"string","description":"Name of the draw","example":"Draw #1"},"number":{"type":"integer","minimum":1,"description":"Sequential draw number for the property"},"historical":{"type":"boolean","description":"Whether this is a historical draw"},"status":{"type":"string","enum":["drafting","pending_borrower","inspecting","pending","pending_capital_partner","approved"],"description":"Current status of the draw in the workflow"},"funding_ratio":{"type":"number","minimum":0,"maximum":100,"description":"Percentage of approved amounts that the lender will fund (0-100). For standard funding model, this is always 100.0.","example":80.0},"funding_threshold_cents":{"type":"integer","minimum":0,"description":"Funding threshold in US cents - amount the borrower must fund first before lender funding begins. For standard and ratio funding models, this is always 0.","example":5000},"coordinator_id":{"type":"integer","nullable":true,"description":"Unique identifier for the lender user coordinating this draw"},"quick_notify_status_id":{"type":"integer","nullable":true,"description":"Identifier of the lender-defined quick notify status currently set on this draw. Nil when no status is set. See GET /api/v2/quick_notify_statuses for available ids."},"updated_at":{"type":"string","format":"date_time","description":"ISO 8601 timestamp of when the draw was last updated. Note: status transitions update this field.","example":"1970-01-01T00:00:00.000Z"},"total_requested_cents":{"type":"integer","description":"Sum of requested_cents across all requests in this draw, in US cents"},"total_approved_cents":{"type":"integer","description":"Sum of approved_cents across all requests in this draw, in US cents"}},"required":["id","name","number","historical","status","funding_ratio","funding_threshold_cents","updated_at"]}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"example":{"value":{"errors":["You need to sign in or sign up before continuing."]}}}}}},"403":{"description":"unauthorized","content":{"application/json":{"examples":{"example":{"value":{"status":"error","error":"You are not authorized to perform this action."}}}}}}}},"post":{"summary":"create draw","tags":["Draws"],"description":"Creates a new historical draw.","parameters":[],"responses":{"201":{"description":"successful","content":{"application/json":{"examples":{"Create historical draw":{"value":{"id":154,"historical":true,"name":"Draw 1","number":1,"status":"pending","funding_ratio":100.0,"funding_threshold_cents":626,"updated_at":"1970-01-01T00:00:00.000Z","coordinator_id":null,"quick_notify_status_id":null,"total_requested_cents":19134,"total_approved_cents":0,"borrower_id":null,"property":{"id":228},"requests":[{"id":75,"requested_cents":12345,"approved_cents":12001,"job_item":{"id":100},"lender_comments":null,"inspector_comments":null},{"id":76,"requested_cents":6789,"approved_cents":6001,"job_item":{"id":101},"lender_comments":null,"inspector_comments":null},{"id":77,"requested_cents":0,"approved_cents":0,"job_item":{"id":102},"lender_comments":null,"inspector_comments":null},{"id":78,"requested_cents":0,"approved_cents":0,"job_item":{"id":103},"lender_comments":null,"inspector_comments":null},{"id":79,"requested_cents":0,"approved_cents":0,"job_item":{"id":104},"lender_comments":null,"inspector_comments":null}],"draw_events":[{"id":223,"event":"created","actor":{"id":602,"role":"lender_owner"},"occurred_at":"1970-01-01T00:00:00.000Z"}],"pdf_src":null}}}}}},"422":{"description":"invalid job_item_id in requests_attributes"},"400":{"description":"invalid pending_approved_cents decimal in requests_attributes"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"draw":{"type":"object","properties":{"property_id":{"type":"integer","description":"ID of the property"},"historical":{"type":"boolean","description":"Whether this is a historical draw. Must be true."},"requests_attributes":{"type":"array","items":{"type":"object","properties":{"job_item_id":{"type":"integer","description":"ID of the job item"},"requested_cents":{"type":"integer","minimum":0,"description":"Requested amount in cents"},"pending_approved_cents":{"type":"integer","minimum":0,"description":"Pending approved amount in cents"}},"required":["job_item_id"]}}},"required":["property_id","historical"]}},"required":["draw"]}}}}}},"/api/v2/draws/{id}":{"parameters":[{"name":"id","in":"path","description":"id","required":true,"schema":{"type":"string"}}],"get":{"summary":"show draw","tags":["Draws"],"description":"Details a specific draw, including request details, pdf, and events (e.g. inspector approval).","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"example":{"value":{"id":157,"historical":false,"name":"Draw 155","number":155,"status":"drafting","funding_ratio":72.86,"funding_threshold_cents":767,"updated_at":"1970-01-01T00:00:00.000Z","coordinator_id":null,"quick_notify_status_id":90,"total_requested_cents":0,"total_approved_cents":0,"borrower_id":263,"property":{"id":239},"requests":[],"draw_events":[{"id":226,"event":"created","actor":{"id":null,"role":"admin"},"occurred_at":"1970-01-01T00:00:00.000Z"}],"pdf_src":"http://www.example.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBWdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--6b9780d6da5e3c5dc1d3dcc02f5340da976b3a62/empty.pdf"}}},"schema":{"type":"object","properties":{"id":{"type":"integer","description":"Unique identifier for the draw"},"name":{"type":"string","description":"Name of the draw","example":"Draw #1"},"number":{"type":"integer","minimum":1,"description":"Sequential draw number for the property"},"historical":{"type":"boolean","description":"Whether this is a historical draw"},"status":{"type":"string","enum":["drafting","pending_borrower","inspecting","pending","pending_capital_partner","approved"],"description":"Current status of the draw in the workflow"},"funding_ratio":{"type":"number","minimum":0,"maximum":100,"description":"Percentage of approved amounts that the lender will fund (0-100). For standard funding model, this is always 100.0.","example":80.0},"funding_threshold_cents":{"type":"integer","minimum":0,"description":"Funding threshold in US cents - amount the borrower must fund first before lender funding begins. For standard and ratio funding models, this is always 0.","example":5000},"coordinator_id":{"type":"integer","nullable":true,"description":"Unique identifier for the lender user coordinating this draw"},"quick_notify_status_id":{"type":"integer","nullable":true,"description":"Identifier of the lender-defined quick notify status currently set on this draw. Nil when no status is set. See GET /api/v2/quick_notify_statuses for available ids."},"updated_at":{"type":"string","format":"date_time","description":"ISO 8601 timestamp of when the draw was last updated. Note: status transitions update this field.","example":"1970-01-01T00:00:00.000Z"},"total_requested_cents":{"type":"integer","description":"Sum of requested_cents across all requests in this draw, in US cents"},"total_approved_cents":{"type":"integer","description":"Sum of approved_cents across all requests in this draw, in US cents"},"borrower_id":{"type":"integer","nullable":true,"description":"Unique identifier for the borrower associated with the draw's property. Nil if the property has no assigned borrower. See GET /api/v2/borrowers/{id} for borrower details."},"property":{"type":"object","description":"Parent property of the draw","properties":{"id":{"type":"integer","description":"Unique identifier for the property"}}},"requests":{"type":"array","description":"Budget line item funding requests included in this draw","items":{"type":"object","properties":{"id":{"type":"integer","description":"Unique identifier for the request"},"requested_cents":{"type":"integer","minimum":0,"description":"Amount requested by borrower in US cents","example":50000},"approved_cents":{"type":"integer","minimum":0,"description":"Amount approved by lender in US cents","example":45000},"job_item":{"type":"object","description":"Budget line item","properties":{"id":{"type":"integer","description":"Unique identifier for the budget line item"}}},"lender_comments":{"type":"string","nullable":true,"description":"Comments from the lender about this funding request","example":"Approved with conditions"},"inspector_comments":{"type":"string","nullable":true,"description":"Comments from the inspector about this funding request","example":"Work completed as specified"}}}},"draw_events":{"type":"array","description":"History of events for this draw","items":{"type":"object","properties":{"id":{"type":"integer","description":"Unique identifier for the event"},"event":{"type":"string","enum":["delegate_submit","borrower_reject","submit","inspector_approve","inspector_reject","lender_approve","lender_reject","lender_amend","capital_partner_approve","capital_partner_reject","lender_view_status_changed","created","inspector_assigned","inspector_removed","inspection_status_changed"],"description":"Name of event"},"actor":{"type":"object","description":"User or system that triggered the event","properties":{"id":{"type":"integer","nullable":true,"description":"Unique identifier for the actor user (null for system events)"},"role":{"type":"string","enum":["borrower_owner","borrower_delegate","lender_owner","lender_viewer","capital_partner_owner","capital_partner_viewer","admin","sitewire_inspector"],"description":"Role of the actor"}}},"occurred_at":{"type":"string","format":"date_time","description":"ISO 8601 timestamp of when the event occurred","example":"1970-01-01T00:00:00.000Z"}}}},"pdf_src":{"type":"string","format":"uri","nullable":true,"description":"URL to the draw PDF document, if generated. There will be a delay between draw events and updated PDF availability."}},"required":["id","name","number","historical","status","funding_ratio","funding_threshold_cents","updated_at","property","requests","draw_events"]}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"example":{"value":{"errors":["You need to sign in or sign up before continuing."]}}}}}},"404":{"description":"missing","content":{"application/json":{"examples":{"example":{"value":{"status":"error","error":"not-found"}}}}}}}},"patch":{"summary":"update draw","tags":["Draws"],"description":"Updates a draw, currently supports setting the draw coordinator (lender_owner only).","parameters":[],"responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"example":{"value":{"id":160,"historical":false,"name":"Draw 158","number":158,"status":"drafting","funding_ratio":78.9,"funding_threshold_cents":1048,"updated_at":"1970-01-01T00:00:00.000Z","coordinator_id":620,"quick_notify_status_id":93,"total_requested_cents":0,"total_approved_cents":0,"borrower_id":265,"property":{"id":242},"requests":[],"draw_events":[{"id":229,"event":"created","actor":{"id":null,"role":"admin"},"occurred_at":"1970-01-01T00:00:00.000Z"}],"pdf_src":"http://www.example.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBXZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--4d1e46121a382be91d9e4117d33648a0c859ec74/empty.pdf"}}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"example":{"value":{"errors":["You need to sign in or sign up before continuing."]}}}}}},"404":{"description":"missing","content":{"application/json":{"examples":{"example":{"value":{"status":"error","error":"not-found"}}}}}},"422":{"description":"unprocessable entity","content":{"application/json":{"examples":{"example":{"value":{"errors":["Coordinator user not found"]}}}}}},"403":{"description":"unauthorized"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"draw":{"type":"object","properties":{"coordinator_id":{"type":"integer","nullable":true,"description":"Unique identifier for the user coordinating this draw. Set to null to remove coordinator assignment."},"quick_notify_status_id":{"type":"integer","nullable":true,"description":"Identifier of the quick notify status to set on this draw. Must be a status belonging to the draw's lender. Set to null to clear. See GET /api/v2/quick_notify_statuses for available ids."}}}},"required":["draw"]}}}}}},"/api/v2/draws/{id}/reopen":{"parameters":[{"name":"id","in":"path","description":"id","required":true,"schema":{"type":"string"}}],"patch":{"summary":"(Lender) reopen draw","tags":["Draws"],"description":"As a lender, reopen a draw, sending it back to borrower to update and resubmit.","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"example":{"value":{"id":173,"historical":false,"name":"Draw 171","number":171,"status":"drafting","funding_ratio":5.6,"funding_threshold_cents":7669,"updated_at":"1970-01-01T00:00:00.000Z","coordinator_id":null,"quick_notify_status_id":null,"total_requested_cents":0,"total_approved_cents":0,"borrower_id":277,"property":{"id":254},"requests":[],"draw_events":[{"id":254,"event":"created","actor":{"id":null,"role":"admin"},"occurred_at":"1970-01-01T00:00:00.000Z"},{"id":255,"event":"lender_reject","actor":{"id":658,"role":"lender_owner"},"occurred_at":"1970-01-01T00:00:00.000Z"}],"pdf_src":"http://www.example.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBYZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--23fa1bbd281c87e600e3fa7ebf1117fe544cf5d9/empty.pdf"}}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"example":{"value":{"errors":["You need to sign in or sign up before continuing."]}}}}}},"403":{"description":"unauthorized","content":{"application/json":{"examples":{"example":{"value":{"status":"error","error":"You are not authorized to perform this action."}}}}}},"404":{"description":"missing","content":{"application/json":{"examples":{"example":{"value":{"status":"error","error":"not-found"}}}}}}}}},"/api/v2/draws/{id}/reject":{"parameters":[{"name":"id","in":"path","description":"id","required":true,"schema":{"type":"string"}}],"patch":{"summary":"(Capital Partner) reject draw","tags":["Draws"],"description":"As a capital partner, reject a draw, sending it back to lender to review.","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"example":{"value":{"id":176,"historical":false,"name":"Draw 174","number":174,"status":"pending","funding_ratio":42.34,"funding_threshold_cents":2362,"updated_at":"1970-01-01T00:00:00.000Z","coordinator_id":null,"quick_notify_status_id":null,"total_requested_cents":0,"total_approved_cents":0,"borrower_id":280,"property":{"id":257},"requests":[],"draw_events":[{"id":258,"event":"created","actor":{"id":null,"role":"admin"},"occurred_at":"1970-01-01T00:00:00.000Z"},{"id":259,"event":"capital_partner_reject","actor":{"id":665,"role":"capital_partner_owner"},"occurred_at":"1970-01-01T00:00:00.000Z"}],"pdf_src":"http://www.example.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBZUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--6d2e722b002f4656032296aa891d5e3fa42d91b8/empty.pdf"}}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"example":{"value":{"errors":["You need to sign in or sign up before continuing."]}}}}}},"403":{"description":"unauthorized","content":{"application/json":{"examples":{"example":{"value":{"status":"error","error":"You are not authorized to perform this action."}}}}}},"404":{"description":"missing","content":{"application/json":{"examples":{"example":{"value":{"status":"error","error":"not-found"}}}}}}}}},"/api/v2/draws/{id}/approve":{"parameters":[{"name":"id","in":"path","description":"id","required":true,"schema":{"type":"string"}}],"patch":{"summary":"approve draw","tags":["Draws"],"description":"Approve a draw.","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"lender":{"value":{"id":179,"historical":false,"name":"Draw 177","number":177,"status":"approved","funding_ratio":100.0,"funding_threshold_cents":0,"updated_at":"1970-01-01T00:00:00.000Z","coordinator_id":null,"quick_notify_status_id":null,"total_requested_cents":0,"total_approved_cents":0,"borrower_id":283,"property":{"id":260},"requests":[],"draw_events":[{"id":262,"event":"created","actor":{"id":null,"role":"admin"},"occurred_at":"1970-01-01T00:00:00.000Z"},{"id":263,"event":"lender_approve","actor":{"id":676,"role":"lender_owner"},"occurred_at":"1970-01-01T00:00:00.000Z"}],"pdf_src":"http://www.example.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBaQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--de0f94c6c8442473b452e52a8bd356ea558c386c/empty.pdf"}},"capital partner":{"value":{"id":180,"historical":false,"name":"Draw 178","number":178,"status":"approved","funding_ratio":41.74,"funding_threshold_cents":3640,"updated_at":"1970-01-01T00:00:00.000Z","coordinator_id":null,"quick_notify_status_id":null,"total_requested_cents":0,"total_approved_cents":0,"borrower_id":284,"property":{"id":261},"requests":[],"draw_events":[{"id":264,"event":"created","actor":{"id":null,"role":"admin"},"occurred_at":"1970-01-01T00:00:00.000Z"},{"id":265,"event":"capital_partner_approve","actor":{"id":680,"role":"capital_partner_owner"},"occurred_at":"1970-01-01T00:00:00.000Z"}],"pdf_src":"http://www.example.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBaUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--75e6491567a8e998de93d56360539429eb482e34/empty.pdf"}}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"example":{"value":{"errors":["You need to sign in or sign up before continuing."]}}}}}},"403":{"description":"unauthorized","content":{"application/json":{"examples":{"example":{"value":{"status":"error","error":"You are not authorized to perform this action."}}}}}},"404":{"description":"missing","content":{"application/json":{"examples":{"example":{"value":{"status":"error","error":"not-found"}}}}}},"422":{"description":"unprocessable entity","content":{"application/json":{"examples":{"example":{"value":{"base":["Invalid action for current user role"]}}}}}}}}},"/api/v2/draws/{id}/amend":{"parameters":[{"name":"id","in":"path","description":"id","required":true,"schema":{"type":"string"}}],"patch":{"summary":"amend draw","tags":["Draws"],"description":"Move an approved draw back to pending state for amendments.","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"lender":{"value":{"id":184,"historical":false,"name":"Draw 182","number":182,"status":"pending","funding_ratio":65.2,"funding_threshold_cents":5046,"updated_at":"1970-01-01T00:00:00.000Z","coordinator_id":null,"quick_notify_status_id":null,"total_requested_cents":0,"total_approved_cents":0,"borrower_id":288,"property":{"id":265},"requests":[],"draw_events":[{"id":269,"event":"created","actor":{"id":null,"role":"admin"},"occurred_at":"1970-01-01T00:00:00.000Z"},{"id":270,"event":"lender_amend","actor":{"id":692,"role":"lender_owner"},"occurred_at":"1970-01-01T00:00:00.000Z"}],"pdf_src":"http://www.example.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBhUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--d5ef3c175451f321cfcaffc04199e801b2b9dd99/empty.pdf"}}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"example":{"value":{"errors":["You need to sign in or sign up before continuing."]}}}}}},"403":{"description":"unauthorized","content":{"application/json":{"examples":{"example":{"value":{"status":"error","error":"You are not authorized to perform this action."}}}}}},"404":{"description":"missing","content":{"application/json":{"examples":{"example":{"value":{"status":"error","error":"not-found"}}}}}}}}},"/api/v2/quick_notify_statuses":{"get":{"summary":"list quick notify statuses","tags":["Quick Notify Statuses"],"description":"Authentication required","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Success (list quick notify statuses)":{"value":[{"id":103,"name":"Awaiting internal approval","lender_id":248},{"id":104,"name":"Sent to the wire department","lender_id":248}]}},"schema":{"type":"array","items":{"$ref":"#/components/schemas/QuickNotifyStatus"}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}},"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"summary":"create quick notify status","tags":["Quick Notify Statuses"],"description":"Authentication required","parameters":[{"name":"lender_id","in":"query","required":true,"description":"ID of the lender to create the status for","schema":{"type":"integer"}}],"responses":{"201":{"description":"created","content":{"application/json":{"examples":{"Create quick notify status":{"value":{"id":118,"name":"Wire initiated","lender_id":256}}},"schema":{"$ref":"#/components/schemas/QuickNotifyStatus"}}}},"404":{"description":"not found","content":{"application/json":{"examples":{"Not found (borrower)":{"value":{"status":"error","error":"not-found"}}}}}},"422":{"description":"unprocessable entity","content":{"application/json":{"examples":{"Validation error (blank name)":{"value":{"status":"error","errors":{"name":["can't be blank"]}}}}}}},"403":{"description":"forbidden","content":{"application/json":{"examples":{"Forbidden (non-owner)":{"value":{"status":"error","error":"You are not authorized to perform this action."}}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}},"schema":{"$ref":"#/components/schemas/Error"}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["quick_notify_status"],"properties":{"quick_notify_status":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Display label shown to users","example":"Wire initiated"}}}}}}}}}},"/api/v2/quick_notify_statuses/{id}":{"parameters":[{"name":"id","in":"path","description":"Quick notify status ID","required":true,"schema":{"type":"integer"}}],"get":{"summary":"show quick notify status","tags":["Quick Notify Statuses"],"description":"Authentication required","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Show quick notify status":{"value":{"id":131,"name":"Awaiting internal approval","lender_id":266}}},"schema":{"$ref":"#/components/schemas/QuickNotifyStatus"}}}},"404":{"description":"not found","content":{"application/json":{"examples":{"Not found":{"value":{"status":"error","error":"not-found"}}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}},"schema":{"$ref":"#/components/schemas/Error"}}}}}},"patch":{"summary":"update quick notify status","tags":["Quick Notify Statuses"],"description":"Authentication required","parameters":[],"responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Update quick notify status":{"value":{"id":140,"name":"Updated status name","lender_id":272}}},"schema":{"$ref":"#/components/schemas/QuickNotifyStatus"}}}},"422":{"description":"unprocessable entity","content":{"application/json":{"examples":{"Validation error (blank name)":{"value":{"status":"error","errors":{"name":["can't be blank"]}}}}}}},"403":{"description":"forbidden","content":{"application/json":{"examples":{"Forbidden (non-owner)":{"value":{"status":"error","error":"You are not authorized to perform this action."}}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}},"schema":{"$ref":"#/components/schemas/Error"}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["quick_notify_status"],"properties":{"quick_notify_status":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Display label shown to users","example":"Wire initiated"}}}}}}}}},"delete":{"summary":"delete quick notify status","tags":["Quick Notify Statuses"],"description":"Authentication required","responses":{"204":{"description":"deleted"},"403":{"description":"forbidden","content":{"application/json":{"examples":{"Forbidden (active draws)":{"value":{"status":"error","error":"You are not authorized to perform this action."}},"Forbidden (non-owner)":{"value":{"status":"error","error":"You are not authorized to perform this action."}}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}},"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v2/lenders":{"get":{"summary":"list lenders","tags":["Lenders"],"description":"Authentication required","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Success (list lenders)":{"value":[{"id":290,"email":"lender290@example.com","allow_overage":false,"lender_budget":83.26284152944079,"default_funding_ratio":83.26,"default_funding_threshold_cents":6550,"address":{"full_address":"9645 Expedita St, Vel, WV 74259-0745","street":"9645 Expedita St","street_with_unit":"9645 Expedita St","unit":null,"csz":"Vel, WV 74259-0745"}}]}},"schema":{"type":"array","items":{"$ref":"#/components/schemas/LenderSummary"}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}},"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v2/lenders/{id}":{"parameters":[{"name":"id","in":"path","description":"Unique identifier for the lender","required":true,"example":"123","schema":{"type":"string"}}],"get":{"summary":"show lender","tags":["Lenders"],"description":"Lender not found","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Success (show lender)":{"value":{"id":295,"email":"lender295@example.com","allow_overage":false,"lender_budget":99.92,"default_funding_ratio":43.09,"default_funding_threshold_cents":9992,"address":{"full_address":"3934 Aut St, Repellat, MT 43680-6261","street":"3934 Aut St","street_with_unit":"3934 Aut St","unit":null,"csz":"Repellat, MT 43680-6261"},"checklist_templates":[{"id":5,"name":"My Checklist","is_default":false}],"capital_partners":[{"id":97,"name":"Quia Magni771"}],"users":[{"id":732,"email":"user7294853@example.com","fullname":"Est Sint","role":"lender_owner","deleted":false}]}},"Success (standard funding model)":{"value":{"id":301,"email":"lender301@example.com","allow_overage":false,"lender_budget":100.0,"default_funding_ratio":100.0,"default_funding_threshold_cents":0,"address":{"full_address":"2666 Voluptates St, Voluptatem, NJ 48787-9443","street":"2666 Voluptates St","street_with_unit":"2666 Voluptates St","unit":null,"csz":"Voluptatem, NJ 48787-9443"},"checklist_templates":[{"id":11,"name":"My Checklist","is_default":false}],"capital_partners":[{"id":100,"name":"Nam Quia598"}],"users":[{"id":743,"email":"user7404652@example.com","fullname":"Ipsum Sed","role":"lender_owner","deleted":false}]}},"Success (ratio funding model)":{"value":{"id":303,"email":"lender303@example.com","allow_overage":false,"lender_budget":50.0,"default_funding_ratio":50.0,"default_funding_threshold_cents":0,"address":{"full_address":"8829 Placeat St, Id, UT 08366","street":"8829 Placeat St","street_with_unit":"8829 Placeat St","unit":null,"csz":"Id, UT 08366"},"checklist_templates":[{"id":13,"name":"My Checklist","is_default":false}],"capital_partners":[{"id":101,"name":"Repellat Dolorem594"}],"users":[{"id":746,"email":"user7439789@example.com","fullname":"Qui Iusto","role":"lender_owner","deleted":false}]}},"Success (threshold funding model)":{"value":{"id":305,"email":"lender305@example.com","allow_overage":false,"lender_budget":100.0,"default_funding_ratio":100.0,"default_funding_threshold_cents":10000,"address":{"full_address":"9223 Occaecati St, Qui, NC 55116","street":"9223 Occaecati St","street_with_unit":"9223 Occaecati St","unit":null,"csz":"Qui, NC 55116"},"checklist_templates":[{"id":15,"name":"My Checklist","is_default":false}],"capital_partners":[{"id":102,"name":"Aut Porro200"}],"users":[{"id":749,"email":"user7469280@example.com","fullname":"Alias Soluta","role":"lender_owner","deleted":false}]}},"Success (zero threshold amount)":{"value":{"id":307,"email":"lender307@example.com","allow_overage":false,"lender_budget":0.0,"default_funding_ratio":100.0,"default_funding_threshold_cents":0,"address":{"full_address":"8850 Vitae St, Labore, NH 48506-1039","street":"8850 Vitae St","street_with_unit":"8850 Vitae St","unit":null,"csz":"Labore, NH 48506-1039"},"checklist_templates":[{"id":17,"name":"My Checklist","is_default":false}],"capital_partners":[{"id":103,"name":"Voluptatem Tenetur539"}],"users":[{"id":752,"email":"user7499414@example.com","fullname":"Sunt Sed","role":"lender_owner","deleted":false}]}},"Success (large threshold amount)":{"value":{"id":309,"email":"lender309@example.com","allow_overage":false,"lender_budget":100000.0,"default_funding_ratio":100.0,"default_funding_threshold_cents":10000000,"address":{"full_address":"6728 Rerum St, Nobis, AZ 53038-2708","street":"6728 Rerum St","street_with_unit":"6728 Rerum St","unit":null,"csz":"Nobis, AZ 53038-2708"},"checklist_templates":[{"id":19,"name":"My Checklist","is_default":false}],"capital_partners":[{"id":104,"name":"Recusandae Perferendis980"}],"users":[{"id":755,"email":"user7525921@example.com","fullname":"Nisi Eos","role":"lender_owner","deleted":false}]}}},"schema":{"$ref":"#/components/schemas/Lender"}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}},"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"not found","content":{"application/json":{"examples":{"Lender not found":{"value":{"status":"error","error":"not-found"}}},"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}}},"/api/v2/properties":{"get":{"summary":"list properties","tags":["Properties"],"description":"Authentication required","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Success (list properties)":{"value":[{"id":285,"budget":{"id":293,"draw_eligible":true},"lender":{"id":315},"borrower":{"status":"assigned","contact_email":"user7596811@example.com"},"borrower_entity_name":"Munch","capital_partner":{"id":107,"name":"Id Unde280"},"loan_number":"59911549641989","lockbox_code":"lockbox","total_units":null,"project_id":null,"project_description":"","inactive":false,"default_draw_coordinator_id":null,"allow_reallocation":false,"draw_checklist_template_id":25,"require_capital_partner_approval":false,"inspection_method":"mobile","require_sitewire_inspector":false,"processing_fee":"0.00","processing_fee_cents":0,"money_transfer_fee":"0.00","money_transfer_fee_cents":0,"other_fees":"0.00","other_fees_cents":0,"start_date":"1970-01-01","end_date":null,"address":{"full_address":"8613 Nostrum St, Et, FL 92321-2934","street":"8613 Nostrum St","street_with_unit":"8613 Nostrum St","unit":null,"csz":"Et, FL 92321-2934"},"created_at":"1970-01-01T00:00:00.000Z","development_type":"single_family_residential","construction_type":"rehabilitation_or_remodel"}]}},"schema":{"type":"array","items":{"$ref":"#/components/schemas/PropertySummary"}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}},"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"summary":"create property","tags":["Properties"],"description":"Validation errors","parameters":[],"responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"With mandatory items":{"value":{"id":289,"budget":{"id":297,"draw_eligible":true,"funding_ratio":36.96,"funding_threshold_cents":6780,"draws":[]},"lender":{"id":319},"borrower":{"status":"unassigned","contact_email":null},"borrower_entity_name":null,"capital_partner":{"id":null,"name":null},"loan_number":null,"lockbox_code":null,"total_units":null,"project_id":null,"project_description":"","inactive":false,"default_draw_coordinator_id":null,"allow_reallocation":null,"draw_checklist_template_id":null,"require_capital_partner_approval":false,"inspection_method":"mobile","require_sitewire_inspector":false,"processing_fee":"0.00","processing_fee_cents":0,"money_transfer_fee":"0.00","money_transfer_fee_cents":0,"other_fees":"0.00","other_fees_cents":0,"start_date":"1970-01-01","end_date":null,"address":{"full_address":"100 test, Los Angeles, CA 12345","street":"100 test","street_with_unit":"100 test","unit":null,"csz":"Los Angeles, CA 12345"},"created_at":"1970-01-01T00:00:00.000Z","development_type":null,"construction_type":null,"deliverables":[],"documents":[]}},"Success (traditional inspection)":{"value":{"id":290,"budget":{"id":298,"draw_eligible":true,"funding_ratio":81.78,"funding_threshold_cents":1118,"draws":[]},"lender":{"id":320},"borrower":{"status":"unassigned","contact_email":null},"borrower_entity_name":null,"capital_partner":{"id":null,"name":null},"loan_number":null,"lockbox_code":null,"total_units":null,"project_id":null,"project_description":"","inactive":false,"default_draw_coordinator_id":null,"allow_reallocation":null,"draw_checklist_template_id":null,"require_capital_partner_approval":false,"inspection_method":"traditional","require_sitewire_inspector":false,"processing_fee":"0.00","processing_fee_cents":0,"money_transfer_fee":"0.00","money_transfer_fee_cents":0,"other_fees":"0.00","other_fees_cents":0,"start_date":"1970-01-01","end_date":null,"address":{"full_address":"100 test, Los Angeles, CA 12345","street":"100 test","street_with_unit":"100 test","unit":null,"csz":"Los Angeles, CA 12345"},"created_at":"1970-01-01T00:00:00.000Z","development_type":null,"construction_type":null,"deliverables":[],"documents":[]}},"Virtual inspection without Sitewire inspector":{"value":{"id":291,"budget":{"id":299,"draw_eligible":true,"funding_ratio":74.84,"funding_threshold_cents":2922,"draws":[]},"lender":{"id":321},"borrower":{"status":"unassigned","contact_email":null},"borrower_entity_name":null,"capital_partner":{"id":null,"name":null},"loan_number":null,"lockbox_code":null,"total_units":null,"project_id":null,"project_description":"","inactive":false,"default_draw_coordinator_id":null,"allow_reallocation":null,"draw_checklist_template_id":null,"require_capital_partner_approval":false,"inspection_method":"mobile","require_sitewire_inspector":false,"processing_fee":"0.00","processing_fee_cents":0,"money_transfer_fee":"0.00","money_transfer_fee_cents":0,"other_fees":"0.00","other_fees_cents":0,"start_date":"1970-01-01","end_date":null,"address":{"full_address":"100 test, Los Angeles, CA 12345","street":"100 test","street_with_unit":"100 test","unit":null,"csz":"Los Angeles, CA 12345"},"created_at":"1970-01-01T00:00:00.000Z","development_type":null,"construction_type":null,"deliverables":[],"documents":[]}},"Successful":{"value":{"id":293,"budget":{"id":301,"draw_eligible":true,"funding_ratio":59.34,"funding_threshold_cents":9937,"draws":[]},"lender":{"id":323},"borrower":{"status":"unassigned","contact_email":null},"borrower_entity_name":null,"capital_partner":{"id":112,"name":"Culpa Aut709"},"loan_number":null,"lockbox_code":null,"total_units":null,"project_id":null,"project_description":"","inactive":false,"default_draw_coordinator_id":null,"allow_reallocation":null,"draw_checklist_template_id":null,"require_capital_partner_approval":false,"inspection_method":"mobile","require_sitewire_inspector":false,"processing_fee":"0.00","processing_fee_cents":0,"money_transfer_fee":"0.00","money_transfer_fee_cents":0,"other_fees":"0.00","other_fees_cents":0,"start_date":"1970-01-01","end_date":null,"address":{"full_address":"100 test, Los Angeles, CA 12345","street":"100 test","street_with_unit":"100 test","unit":null,"csz":"Los Angeles, CA 12345"},"created_at":"1970-01-01T00:00:00.000Z","development_type":null,"construction_type":null,"deliverables":[],"documents":[]}}},"schema":{"$ref":"#/components/schemas/Property"}}}},"400":{"description":"invalid request","content":{"application/json":{"examples":{"Malformed address":{"value":{"error":{"status":"bad_request","details":{"property.address":["missing required parameters: zip"]}}}}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}}}}},"403":{"description":"unauthorized","content":{"application/json":{"examples":{"Unauthorized property creation":{"value":{"status":"error","error":"You are not authorized to perform this action."}}}}}},"422":{"description":"unprocessable entity","content":{"application/json":{"examples":{"Invalid address":{"value":{"status":"error","errors":["Address could not be located","Could not geocode address"]},"description":"Addresses must validate through the Google Geocoding API. Addresses may be fuzzy-matched to valid results using the Google Place Autocomplete API. If a property address cannot be validated due to out-of-date or missing maps data, please contact Sitewire customer support for assistance. "},"End date before start date":{"value":{"status":"error","errors":["End date must be after the start date"]}}},"schema":{"$ref":"#/components/schemas/ValidationError"}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"property":{"type":"object","properties":{"allow_reallocation":{"type":"boolean","description":"Whether job item budget reallocation is allowed during draw processing"},"capital_partner_id":{"type":"integer","description":"Unique identifier for the capital partner company associated with this property. Capital partners provide funding alongside lenders."},"default_draw_coordinator_id":{"type":"integer","description":"Unique identifier for the lender user who will coordinate draws for this property by default. Must be a lender_owner or lender_viewer role."},"draw_checklist_template_id":{"type":"integer","description":"Unique identifier for the checklist template to use for draws on this property"},"borrower_entity_name":{"type":"string","description":"Legal entity name of the borrower","example":"Acme Construction LLC"},"processing_fee":{"oneOf":[{"type":"string"},{"type":"number","minimum":0}],"deprecated":true,"description":"DEPRECATED: Use processing_fee_cents instead. Processing fee as a decimal dollar amount (e.g. 100.56 or '100.56'). Accepts numeric or string dollar amounts.","example":"100.56"},"processing_fee_cents":{"type":"integer","minimum":0,"description":"Processing fee amount in US cents","example":10056},"end_date":{"type":"string","format":"date","description":"Project end date (YYYY-MM-DD). Must be after start_date.","example":"1970-01-01"},"inspection_method":{"type":"string","enum":["mobile","traditional"],"default":"mobile","description":"Inspection method for the property. `mobile` enables virtual inspections using the Sitewire mobile app. `traditional` implies the use of a third-party field inspector for onsite inspections."},"loan_number":{"type":"string","description":"Lender's loan or project reference number"},"lockbox_code":{"type":"string","description":"Access code for property lockbox","example":"1234"},"other_fees":{"oneOf":[{"type":"string"},{"type":"number","minimum":0}],"deprecated":true,"description":"DEPRECATED: Use other_fees_cents instead. Other fees as a decimal dollar amount (e.g. 7.50 or '7.50'). Accepts numeric or string dollar amounts.","example":"7.50"},"other_fees_cents":{"type":"integer","minimum":0,"description":"Other fees amount in US cents","example":7550},"project_description":{"type":"string","nullable":true,"description":"Detailed description of the construction project scope and objectives","example":"Complete renovation of single-family home including kitchen remodel and bathroom updates"},"project_id":{"type":"string","description":"External project identifier or reference number"},"require_capital_partner_approval":{"type":"boolean","description":"Whether capital partner approval is required before draws can be funded"},"require_sitewire_inspector":{"type":"boolean","default":false,"description":"Whether a Sitewire inspector is required to approve draws before they reach the lender. Only applies to draws with an `inspection_method` of `mobile`. Set this to `false` to complete virtual-inspected draws using in-house review."},"start_date":{"type":"string","format":"date","description":"Project start date (YYYY-MM-DD). Required for all properties.","example":"1970-01-01"},"total_units":{"type":"integer","minimum":1,"description":"Total number of units in the development. Required for multi_family_residential. Optional for commercial and other. Must be absent for single_family_residential."},"money_transfer_fee":{"oneOf":[{"type":"string"},{"type":"number","minimum":0}],"deprecated":true,"description":"DEPRECATED: Use money_transfer_fee_cents instead. Money transfer fee as a decimal dollar amount (e.g. 25.00 or '25.00'). Accepts numeric or string dollar amounts.","example":"25.00"},"money_transfer_fee_cents":{"type":"integer","minimum":0,"description":"Money transfer fee amount in US cents","example":3000},"development_type":{"type":"string","enum":["single_family_residential","multi_family_residential","commercial","other"],"description":"Type of property development"},"construction_type":{"type":"string","enum":["rehabilitation_or_remodel","ground_up"],"description":"Type of construction work"},"address":{"type":"object","description":"Property address. Must be a valid address that can be geocoded via Google Maps API.","properties":{"street":{"type":"string","description":"Street address","example":"123 Main Street"},"unit":{"type":"string","description":"Unit, apartment, or suite number (optional)","example":"Apt 4B"},"city":{"type":"string","description":"City name","example":"Los Angeles"},"state":{"type":"string","minLength":2,"maxLength":2,"description":"Two-letter state code","example":"CA"},"zip":{"type":"string","pattern":"^\\d{5}(-\\d{4})?$","description":"ZIP code in format XXXXX","example":"90210"}},"required":["street","city","state","zip"]}},"required":["address"]}},"required":["property"]},"examples":{"With mandatory items":{"summary":"With mandatory items","value":{"property":{"inspection_method":"mobile","address":{"street":"100 test","state":"CA","city":"Los Angeles","zip":"12345"}}}},"Success (traditional inspection)":{"summary":"Success (traditional inspection)","value":{"property":{"inspection_method":"traditional","address":{"street":"100 test","state":"CA","city":"Los Angeles","zip":"12345"}}}},"Virtual inspection without Sitewire inspector":{"summary":"Virtual inspection without Sitewire inspector","value":{"property":{"inspection_method":"mobile","require_sitewire_inspector":false,"address":{"street":"100 test","state":"CA","city":"Los Angeles","zip":"12345"}}}},"Successful":{"summary":"Successful","value":{"property":{"capital_partner_id":112,"address":{"street":"100 test","state":"CA","city":"Los Angeles","zip":"12345"}}}},"Malformed address":{"summary":"Malformed address","value":{"property":{"address":{"street":"100 test","state":"CA","city":"Los Angeles"}}}},"Unauthenticated request":{"summary":"Unauthenticated request","value":{"property":{"address":{"street":"100 test","state":"CA","city":"Los Angeles","zip":"12345"}}}},"Unauthorized property creation":{"summary":"Unauthorized property creation","value":{"property":{"capital_partner_id":113,"address":{"street":"100 test","state":"CA","city":"Los Angeles","zip":"12345"}}}},"Invalid address":{"summary":"Invalid address","value":{"property":{"address":{"street":"100 testkjhasdkjhsadaksjhd","state":"CA","city":"Los Angeles","zip":"00000"}}}},"End date before start date":{"summary":"End date before start date","value":{"property":{"start_date":"1970-01-01","end_date":"1970-01-01","address":{"street":"100 test","state":"CA","city":"Los Angeles","zip":"12345"}}}}}}}}}},"/api/v2/properties/{id}":{"parameters":[{"name":"id","in":"path","description":"id","required":true,"schema":{"type":"integer"}}],"get":{"summary":"show property","tags":["Properties"],"description":"Property not found","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Success (show property)":{"value":{"id":295,"budget":{"id":303,"draw_eligible":true,"funding_ratio":46.17,"funding_threshold_cents":2054,"draws":[{"id":188,"historical":false,"name":"Draw 186","number":186,"status":"drafting","funding_ratio":46.17,"funding_threshold_cents":2054,"updated_at":"1970-01-01T00:00:00.000Z","coordinator_id":null,"quick_notify_status_id":null,"total_requested_cents":0,"total_approved_cents":0}]},"lender":{"id":328},"borrower":{"status":"assigned","contact_email":"user7792901@example.com"},"borrower_entity_name":"Pollock","capital_partner":{"id":114,"name":"Iste Sunt888"},"loan_number":"6477026776","lockbox_code":"lockbox","total_units":null,"project_id":null,"project_description":"","inactive":false,"default_draw_coordinator_id":null,"allow_reallocation":false,"draw_checklist_template_id":29,"require_capital_partner_approval":false,"inspection_method":"mobile","require_sitewire_inspector":false,"processing_fee":"0.00","processing_fee_cents":0,"money_transfer_fee":"0.00","money_transfer_fee_cents":0,"other_fees":"0.00","other_fees_cents":0,"start_date":"1970-01-01","end_date":null,"address":{"full_address":"2931 Hic St, Molestias, DE 38726-7464","street":"2931 Hic St","street_with_unit":"2931 Hic St","unit":null,"csz":"Molestias, DE 38726-7464"},"created_at":"1970-01-01T00:00:00.000Z","development_type":"single_family_residential","construction_type":"rehabilitation_or_remodel","deliverables":[{"id":56,"type":"SurveyDeliverable","name":"Deliverable Test","archived":false,"deliverable_updates":[{"id":52,"type":"SurveyDeliverableUpdate","name":"Deliverable Update 52","status":"open","updated_at":"1970-01-01T00:00:00.000Z"}]}],"documents":[{"uploaded_by_email":"user7792901@example.com","draw_id":188,"deliverable_update_id":null,"checklist":{"name":"My Checklist","list_name":"out of the box","item_name":"I'll synthesize the optical SMS interface, that should capacitor the JBOD pixel!"},"created_at":"1970-01-01T00:00:00.000Z","src":"http://www.example.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBiQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--b6173ed5c149b7a8c0a89101465eac423d0ea7e1/door1.jpg"},{"uploaded_by_email":"user7792901@example.com","draw_id":null,"deliverable_update_id":52,"checklist":null,"created_at":"1970-01-01T00:00:00.000Z","src":"http://www.example.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBiUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--cce2a5f95553bd5d4646ed20f114c532edc005ce/door1.jpg"},{"uploaded_by_email":"user7792901@example.com","draw_id":null,"deliverable_update_id":null,"checklist":null,"created_at":"1970-01-01T00:00:00.000Z","src":"http://www.example.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBidz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--91befd204862c16db292d6fb919c777a2aef8b2f/door1.jpg"}]}}},"schema":{"$ref":"#/components/schemas/Property"}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}}}}},"404":{"description":"not found","content":{"application/json":{"examples":{"Property not found":{"value":{"status":"error","error":"not-found"}}},"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}},"patch":{"summary":"update property","tags":["Properties"],"description":"Validation errors","parameters":[],"responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Successful (remove capital partner and change address)":{"value":{"id":300,"budget":{"id":308,"draw_eligible":true,"funding_ratio":98.86,"funding_threshold_cents":810,"draws":[]},"lender":{"id":333},"borrower":{"status":"assigned","contact_email":"user8018249@example.com"},"borrower_entity_name":"Picasso","capital_partner":{"id":null,"name":null},"loan_number":"48725964829697983","lockbox_code":"lockbox","total_units":null,"project_id":null,"project_description":"","inactive":false,"default_draw_coordinator_id":null,"allow_reallocation":false,"draw_checklist_template_id":34,"require_capital_partner_approval":false,"inspection_method":"mobile","require_sitewire_inspector":false,"processing_fee":"0.00","processing_fee_cents":0,"money_transfer_fee":"0.00","money_transfer_fee_cents":0,"other_fees":"0.00","other_fees_cents":0,"start_date":"1970-01-01","end_date":null,"address":{"full_address":"100 test, Los Angeles, CA 12345","street":"100 test","street_with_unit":"100 test","unit":null,"csz":"Los Angeles, CA 12345"},"created_at":"1970-01-01T00:00:00.000Z","development_type":"single_family_residential","construction_type":"rehabilitation_or_remodel","deliverables":[],"documents":[]}},"Successful (update default draw coordinator)":{"value":{"id":301,"budget":{"id":309,"draw_eligible":true,"funding_ratio":20.95,"funding_threshold_cents":1877,"draws":[]},"lender":{"id":334},"borrower":{"status":"assigned","contact_email":"user8055910@example.com"},"borrower_entity_name":"Manet","capital_partner":{"id":120,"name":"Ut Nihil196"},"loan_number":"27229","lockbox_code":"lockbox","total_units":null,"project_id":null,"project_description":"","inactive":false,"default_draw_coordinator_id":806,"allow_reallocation":false,"draw_checklist_template_id":35,"require_capital_partner_approval":false,"inspection_method":"mobile","require_sitewire_inspector":false,"processing_fee":"0.00","processing_fee_cents":0,"money_transfer_fee":"0.00","money_transfer_fee_cents":0,"other_fees":"0.00","other_fees_cents":0,"start_date":"1970-01-01","end_date":null,"address":{"full_address":"5562 Assumenda St, Ab, WA 82443","street":"5562 Assumenda St","street_with_unit":"5562 Assumenda St","unit":null,"csz":"Ab, WA 82443"},"created_at":"1970-01-01T00:00:00.000Z","development_type":"single_family_residential","construction_type":"rehabilitation_or_remodel","deliverables":[],"documents":[]}},"Successful (remove default draw coordinator)":{"value":{"id":304,"budget":{"id":312,"draw_eligible":true,"funding_ratio":98.84,"funding_threshold_cents":2110,"draws":[]},"lender":{"id":337},"borrower":{"status":"assigned","contact_email":"user8163786@example.com"},"borrower_entity_name":"Paul Klee","capital_partner":{"id":123,"name":"Vero Rerum216"},"loan_number":"966121320020","lockbox_code":"lockbox","total_units":null,"project_id":null,"project_description":"","inactive":false,"default_draw_coordinator_id":null,"allow_reallocation":false,"draw_checklist_template_id":38,"require_capital_partner_approval":false,"inspection_method":"mobile","require_sitewire_inspector":false,"processing_fee":"0.00","processing_fee_cents":0,"money_transfer_fee":"0.00","money_transfer_fee_cents":0,"other_fees":"0.00","other_fees_cents":0,"start_date":"1970-01-01","end_date":null,"address":{"full_address":"100 test, Los Angeles, CA 12345","street":"100 test","street_with_unit":"100 test","unit":null,"csz":"Los Angeles, CA 12345"},"created_at":"1970-01-01T00:00:00.000Z","development_type":"single_family_residential","construction_type":"rehabilitation_or_remodel","deliverables":[],"documents":[]}},"Successful (assign capital partner)":{"value":{"id":313,"budget":{"id":321,"draw_eligible":true,"funding_ratio":81.26,"funding_threshold_cents":9763,"draws":[]},"lender":{"id":348},"borrower":{"status":"assigned","contact_email":"user8464650@example.com"},"borrower_entity_name":"Cezanne","capital_partner":{"id":133,"name":"Perferendis Eius682"},"loan_number":"708831023218756429","lockbox_code":"lockbox","total_units":null,"project_id":null,"project_description":"","inactive":false,"default_draw_coordinator_id":null,"allow_reallocation":false,"draw_checklist_template_id":47,"require_capital_partner_approval":false,"inspection_method":"mobile","require_sitewire_inspector":false,"processing_fee":"0.00","processing_fee_cents":0,"money_transfer_fee":"0.00","money_transfer_fee_cents":0,"other_fees":"0.00","other_fees_cents":0,"start_date":"1970-01-01","end_date":null,"address":{"full_address":"8028 Eveniet St, Illo, AL 58860","street":"8028 Eveniet St","street_with_unit":"8028 Eveniet St","unit":null,"csz":"Illo, AL 58860"},"created_at":"1970-01-01T00:00:00.000Z","development_type":"single_family_residential","construction_type":"rehabilitation_or_remodel","deliverables":[],"documents":[]}}}}}},"400":{"description":"invalid request","content":{"application/json":{"examples":{"Malformed address":{"value":{"error":{"status":"bad_request","details":{"property.address":["missing required parameters: zip"]}}}}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}}}}},"403":{"description":"unauthorized","content":{"application/json":{"examples":{"Unauthorized property update":{"value":{"status":"error","error":"You are not authorized to perform this action."}}}}}},"404":{"description":"not found","content":{"application/json":{"examples":{"Property not found":{"value":{"status":"error","error":"not-found"}}},"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"422":{"description":"unprocessable entity","content":{"application/json":{"examples":{"Invalid address":{"value":{"status":"error","errors":["Address could not be located"]},"description":"Addresses must validate through the Google Geocoding API. Addresses may be fuzzy-matched to valid results using the Google Place Autocomplete API. If a property address cannot be validated due to out-of-date or missing maps data, please contact Sitewire customer support for assistance. "},"End date before start date":{"value":{"status":"error","errors":["End date must be after the start date"]}}},"schema":{"$ref":"#/components/schemas/ValidationError"}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"property":{"type":"object","properties":{"allow_reallocation":{"type":"boolean","description":"Whether job item budget reallocation is allowed during draw processing"},"capital_partner_id":{"type":"integer","nullable":true,"description":"Unique identifier for the capital partner company associated with this property. Set to null to remove capital partner assignment."},"default_draw_coordinator_id":{"type":"integer","nullable":true,"description":"Unique identifier for the lender user who will coordinate draws for this property by default. Set to null to remove coordinator assignment."},"draw_checklist_template_id":{"type":"integer","description":"Unique identifier for the checklist template to use for draws on this property"},"borrower_entity_name":{"type":"string","description":"Legal entity name of the borrower","example":"Acme Construction LLC"},"processing_fee":{"oneOf":[{"type":"string"},{"type":"number","minimum":0}],"deprecated":true,"description":"DEPRECATED: Use processing_fee_cents instead. Processing fee as a decimal dollar amount (e.g. 100.56 or '100.56'). Accepts numeric or string dollar amounts.","example":"100.56"},"processing_fee_cents":{"type":"integer","minimum":0,"description":"Processing fee amount in US cents","example":10056},"end_date":{"type":"string","format":"date","description":"Project end date (YYYY-MM-DD). Must be after start_date.","example":"1970-01-01"},"inspection_method":{"type":"string","enum":["mobile","traditional"],"default":"mobile","description":"Inspection method for the property. `mobile` enables virtual inspections using the Sitewire mobile app. `traditional` implies the use of a third-party field inspector for onsite inspections."},"loan_number":{"type":"string","description":"Lender's loan or project reference number"},"lockbox_code":{"type":"string","description":"Access code for property lockbox","example":"1234"},"other_fees":{"oneOf":[{"type":"string"},{"type":"number","minimum":0}],"deprecated":true,"description":"DEPRECATED: Use other_fees_cents instead. Other fees as a decimal dollar amount (e.g. 7.50 or '7.50'). Accepts numeric or string dollar amounts.","example":"7.50"},"other_fees_cents":{"type":"integer","minimum":0,"description":"Other fees amount in US cents","example":7550},"project_description":{"type":"string","nullable":true,"description":"Detailed description of the construction project scope and objectives","example":"Complete renovation of single-family home including kitchen remodel and bathroom updates"},"project_id":{"type":"string","description":"External project identifier or reference number"},"require_capital_partner_approval":{"type":"boolean","description":"Whether capital partner approval is required before draws can be funded"},"require_sitewire_inspector":{"type":"boolean","default":false,"description":"Whether a Sitewire inspector is required to approve draws before they reach the lender. Only applies to draws with an `inspection_method` of `mobile`. Set this to `false` to complete virtual-inspected draws using in-house review."},"start_date":{"type":"string","format":"date","description":"Project start date (YYYY-MM-DD). Required for all properties.","example":"1970-01-01"},"total_units":{"type":"integer","minimum":1,"description":"Total number of units in the development. Required for multi_family_residential. Optional for commercial and other. Must be absent for single_family_residential."},"money_transfer_fee":{"oneOf":[{"type":"string"},{"type":"number","minimum":0}],"deprecated":true,"description":"DEPRECATED: Use money_transfer_fee_cents instead. Money transfer fee as a decimal dollar amount (e.g. 25.00 or '25.00'). Accepts numeric or string dollar amounts.","example":"25.00"},"money_transfer_fee_cents":{"type":"integer","minimum":0,"description":"Money transfer fee amount in US cents","example":3000},"development_type":{"type":"string","enum":["single_family_residential","multi_family_residential","commercial","other"],"description":"Type of property development"},"construction_type":{"type":"string","enum":["rehabilitation_or_remodel","ground_up"],"description":"Type of construction work"},"address":{"type":"object","description":"Property address. Must be a valid address that can be geocoded via Google Maps API.","properties":{"street":{"type":"string","description":"Street address","example":"123 Main Street"},"unit":{"type":"string","description":"Unit, apartment, or suite number (optional)","example":"Apt 4B"},"city":{"type":"string","description":"City name","example":"Los Angeles"},"state":{"type":"string","minLength":2,"maxLength":2,"description":"Two-letter state code","example":"CA"},"zip":{"type":"string","pattern":"^\\d{5}(-\\d{4})?$","description":"ZIP code in format XXXXX","example":"90210"}},"required":["street","city","state","zip"]},"inactive":{"type":"boolean","description":"Whether to mark the property as inactive"}},"required":["address"]}},"required":["property"]},"examples":{"Successful (remove capital partner and change address)":{"summary":"Successful (remove capital partner and change address)","value":{"property":{"capital_partner_id":null,"address":{"street":"100 test","state":"CA","city":"Los Angeles","zip":"12345"}}}},"Successful (update default draw coordinator)":{"summary":"Successful (update default draw coordinator)","value":{"property":{"default_draw_coordinator_id":806,"address":{"street":"5562 Assumenda St","state":"WA","city":"Ab","zip":"82443"}}}},"Successful (remove default draw coordinator)":{"summary":"Successful (remove default draw coordinator)","value":{"property":{"default_draw_coordinator_id":null,"address":{"street":"100 test","state":"CA","city":"Los Angeles","zip":"12345"}}}},"Update property with malformed address":{"summary":"Update property with malformed address","value":{"property":{"address":{"street":"100 test","state":"CA","city":"Los Angeles"}}}},"Unauthenticated request":{"summary":"Unauthenticated request","value":{"property":{"address":{"street":"100 test","state":"CA","city":"Los Angeles","zip":"12345"}}}},"Unauthorized property update":{"summary":"Unauthorized property update","value":{"property":{"capital_partner_id":null,"address":{"street":"100 test","state":"CA","city":"Los Angeles","zip":"12345"}}}},"Property not found":{"summary":"Property not found","value":{"property":{"address":{"street":"100 test","state":"CA","city":"Los Angeles","zip":"12345"}}}},"Invalid address":{"summary":"Invalid address","value":{"property":{"address":{"street":"100 testkjhasdkjhsadaksjhd","state":"CA","city":"Los Angeles","zip":"00000"}}}},"End date before start date":{"summary":"End date before start date","value":{"property":{"start_date":"1970-01-01","end_date":"1970-01-01","address":{"street":"100 test","state":"CA","city":"Los Angeles","zip":"12345"}}}},"Successful (assign capital partner)":{"summary":"Successful (assign capital partner)","value":{"property":{"capital_partner_id":133,"address":{"street":"8028 Eveniet St","state":"AL","city":"Illo","zip":"58860"}}}}}}}}}},"/api/v2/properties/{id}/borrower":{"parameters":[{"name":"id","in":"path","description":"id","required":true,"schema":{"type":"integer"}}],"patch":{"summary":"assign borrower","tags":["Properties"],"parameters":[],"description":"Validation errors","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Success (assign borrower)":{"value":{"status":"invited","contact_email":"foo@foo.com"}}},"schema":{"$ref":"#/components/schemas/PropertyBorrowerAssignmentResponse"}}}},"304":{"description":"not modified"},"400":{"description":"invalid request","content":{"application/json":{"examples":{"Invalid email format":{"value":{"error":{"status":"bad_request","details":{"borrower.contact_email":["does not allow null values"]}}}}}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}}}}},"403":{"description":"unauthorized","content":{"application/json":{"examples":{"Unauthorized borrower assignment":{"value":{"status":"error","error":"You are not authorized to perform this action."}}}}}},"404":{"description":"not found","content":{"application/json":{"examples":{"Property not found":{"value":{"status":"error","error":"not-found"}}},"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"422":{"description":"unprocessable entity","content":{"application/json":{"examples":{"Invalid email format":{"value":{"status":"error","errors":["Email is invalid"]}}},"schema":{"$ref":"#/components/schemas/ValidationError"}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"borrower":{"type":"object","description":"Borrower assignment data","properties":{"contact_email":{"type":"string","format":"email","description":"Email address of the borrower to assign to this property","example":"borrower@example.com"}},"required":["contact_email"]}},"required":["borrower"]},"examples":{"Success (assign borrower)":{"summary":"Success (assign borrower)","value":{"borrower":{"contact_email":"foo@foo.com"}}},"Invalid email format":{"summary":"Invalid email format","value":{"borrower":{"contact_email":"foo@foo.com"}}},"Unauthenticated request":{"summary":"Unauthenticated request","value":{"borrower":{"contact_email":"user8714471@example.com"}}},"Unauthorized borrower assignment":{"summary":"Unauthorized borrower assignment","value":{"borrower":{"contact_email":"foo@foo.com"}}},"Property not found":{"summary":"Property not found","value":{"borrower":{"contact_email":"user8771166@example.com"}}}}}}}}},"/api/v2/requests/{id}":{"parameters":[{"name":"id","in":"path","description":"Unique identifier for the request","required":true,"example":"123","schema":{"type":"string"}}],"get":{"summary":"show request","tags":["Requests"],"description":"Request not found","responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Success (show request)":{"value":{"id":80,"requested_cents":5000,"approved_cents":0,"job_item":{"id":132,"name":"Aluminum 825","description":null,"budgeted_cents":973900,"available_cents":973900,"created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","total_approved_cents":0,"total_released_cents":0,"required_image_count":5,"required_image_status":"required","required_video_count":1,"required_video_status":"required","required_document_status":"accepted","mandatory":false},"lender_comments":"lender comments","inspector_comments":"inspector comments","inspections":[{"id":44,"note":"Aluminum","latitude":"35.0","longitude":"-108.0","captured_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","media":{"src":"http://www.example.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBWHM9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2f61a0b9940a23c468c00e6a807858f960b60bda/door1.jpg","thumbnail":"http://www.example.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBWHM9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2f61a0b9940a23c468c00e6a807858f960b60bda/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWJScEFiUT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--ddb398a385977ba57016eafe5993b5c3e2f9f400/door1.jpg","media_type":"image"}},{"id":45,"note":"Glass","latitude":"39.0","longitude":"-111.0","captured_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","media":{"src":"http://www.example.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBWHc9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--4336589b88d108e46c6beccc170575f08a701c66/basement.mp4","thumbnail":null,"media_type":"video"}}]}}},"schema":{"$ref":"#/components/schemas/Request"}}}},"401":{"description":"unauthenticated","content":{"application/json":{"examples":{"Unauthenticated request":{"value":{"errors":["You need to sign in or sign up before continuing."]}}}}}},"404":{"description":"not found","content":{"application/json":{"examples":{"Request not found":{"value":{"status":"error","error":"not-found"}}},"schema":{"$ref":"#/components/schemas/NotFoundError"}}}}}},"patch":{"summary":"update request","description":"Updated request","tags":["Requests"],"parameters":[],"responses":{"200":{"description":"successful","content":{"application/json":{"examples":{"Success (update approved amount)":{"value":{"id":86,"requested_cents":5000,"approved_cents":4500,"job_item":{"id":137,"name":"Rubber 901","description":null,"budgeted_cents":692100,"available_cents":687600,"created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","total_approved_cents":4500,"total_released_cents":0,"required_image_count":5,"required_image_status":"required","required_video_count":1,"required_video_status":"required","required_document_status":"accepted","mandatory":false},"lender_comments":"lender comments","inspector_comments":"inspector comments","inspections":[]}},"Success (update lender comments)":{"value":{"id":88,"requested_cents":5000,"approved_cents":5000,"job_item":{"id":138,"name":"Brass 661","description":null,"budgeted_cents":843200,"available_cents":838200,"created_at":"1970-01-01T00:00:00.000Z","updated_at":"1970-01-01T00:00:00.000Z","total_approved_cents":5000,"total_released_cents":0,"required_image_count":5,"required_image_status":"required","required_video_count":1,"required_video_status":"required","required_document_status":"accepted","mandatory":false},"lender_comments":"Comment created by lender","inspector_comments":"inspector comments","inspections":[]}}},"schema":{"$ref":"#/components/schemas/Request"}}}},"400":{"description":"invalid approved_cents decimal"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"request":{"type":"object","description":"Request update data","properties":{"lender_comments":{"type":"string","description":"Comments from the lender about this funding request. Used to provide feedback or explanation about approval decisions.","example":"Work complete"},"approved_cents":{"type":"integer","minimum":0,"description":"Approved amount in cents. For pending draws, this is applied as pending approved."}}}},"required":["request"]}}}}}}},"components":{"securitySchemes":{"accessToken":{"type":"apiKey","in":"header","name":"access-token"},"client":{"type":"apiKey","in":"header","name":"client"},"uid":{"type":"apiKey","in":"header","name":"uid"}},"schemas":{"Address":{"type":"object","description":"Physical address with geocoding support. Addresses are validated and geocoded via Google Maps API.","required":["street"],"properties":{"street":{"type":"string","description":"Street address without unit","example":"123 Main Street"},"unit":{"type":"string","nullable":true,"description":"Unit, apartment, or suite number","example":"Apt 4B"},"full_address":{"type":"string","readOnly":true,"description":"Complete formatted address (read-only, generated by system)","example":"123 Main Street, San Francisco, CA 94102"},"street_with_unit":{"type":"string","readOnly":true,"description":"Street address with unit if applicable (read-only, generated by system)","example":"123 Main Street, Apt 4B"},"csz":{"type":"string","readOnly":true,"description":"City, State ZIP formatted (read-only, generated by system)","example":"San Francisco, CA 94102"}}},"Borrower":{"type":"object","description":"Borrower company entity representing construction companies or developers that own and develop properties.\nEach borrower can have multiple properties and works with lenders and capital partners to fund construction projects.\nBorrowers submit draw requests for funding and manage property development workflows.\n","required":["id","company_name","contact_email"],"properties":{"id":{"type":"integer","description":"Unique identifier for the borrower company","example":123},"company_name":{"type":"string","description":"Legal name of the borrower company","example":"Acme Construction LLC"},"contact_first_name":{"type":"string","nullable":true,"description":"First name of primary contact person","example":"John"},"contact_last_name":{"type":"string","nullable":true,"description":"Last name of primary contact person","example":"Doe"},"contact_email":{"type":"string","format":"email","description":"Email address of primary contact person","example":"john.doe@acme.com"},"contact_phone":{"type":"string","nullable":true,"description":"Phone number of primary contact person","example":"(555) 123-4567"},"address":{"$ref":"#/components/schemas/Address"}}},"Budget":{"type":"object","description":"Budget (also referred to as loan) entity representing the financial plan for a property.\nEach budget contains job items (budget line items) that define the scope of work and allocated funds.\nBudgets are associated with a single property and control funding parameters like funding ratios and thresholds.\nAll draws and requests must reference job items from a property's budget.\n","required":["id","draw_eligible"],"properties":{"id":{"type":"integer","description":"Unique identifier for the budget","example":456},"draw_eligible":{"type":"boolean","description":"Whether draws can be created for this property's budget","example":true},"funding_ratio":{"type":"number","minimum":0,"maximum":100,"description":"Percentage of approved amounts that the lender will fund (0-100). Always numeric - 100.0 represents standard funding (100% coverage).","example":80.0},"funding_threshold_cents":{"type":"integer","minimum":0,"description":"Funding threshold in US cents - amount the borrower must fund first before lender funding begins. Always numeric - 0 means no threshold.","example":5000},"total_budgeted_cents":{"type":"integer","minimum":0,"description":"Total budgeted amount across all job items, in US cents. Read-only; derived from job items.","example":5000},"total_approved_cents":{"type":"integer","minimum":0,"description":"Sum of approved amounts across all requests on this budget's draws, in US cents. Read-only.","example":1200},"balance_cents":{"type":"integer","description":"Remaining budget: total_budgeted_cents minus total_approved_cents, in US cents. Read-only.","example":3800},"job_items":{"type":"array","nullable":true,"description":"Budget line items (job items) in this budget","items":{"$ref":"#/components/schemas/JobItem"}},"draws":{"type":"array","nullable":true,"description":"Draws associated with this budget","items":{"$ref":"#/components/schemas/DrawSummary"}}}},"BudgetPartial":{"type":"object","description":"Budget (also referred to as loan) entity representing the financial plan for a property.\nThis is a partial budget view used in property responses, without job items.\nBudgets are associated with a single property and control funding parameters like funding ratios and thresholds.\n","required":["id","draw_eligible"],"properties":{"id":{"type":"integer","description":"Unique identifier for the budget","example":456},"draw_eligible":{"type":"boolean","description":"Whether draws can be created for this property's budget","example":true},"funding_ratio":{"type":"number","minimum":0,"maximum":100,"description":"Percentage of approved amounts that the lender will fund (0-100). Always numeric - 100.0 represents standard funding (100% coverage).","example":80.0},"funding_threshold_cents":{"type":"integer","minimum":0,"description":"Funding threshold in US cents - amount the borrower must fund first before lender funding begins. Always numeric - 0 means no threshold.","example":5000},"draws":{"type":"array","nullable":true,"description":"Draws associated with this budget","items":{"$ref":"#/components/schemas/DrawSummary"}}}},"CapitalPartner":{"type":"object","description":"Capital partner company entity providing additional funding alongside lenders for construction projects.\nCapital partners can be associated with properties through company roles and participate in the draw approval workflow,\nparticularly for draws in pending_capital_partner status.\n","required":["id"],"properties":{"id":{"type":"integer","description":"Unique identifier for the capital partner company","example":789},"name":{"type":"string","description":"Company name of the capital partner","example":"Acme Capital Partners"}}},"ChecklistTemplate":{"type":"object","description":"Checklist template defining required items and documentation for draws or properties.","required":["id","name"],"properties":{"id":{"type":"integer","description":"Unique identifier for the checklist template","example":123},"name":{"type":"string","description":"Template name","example":"Standard Draw Checklist"},"is_default":{"type":"boolean","description":"Whether this is the default template for new properties","example":true}}},"Draw":{"type":"object","description":"Draw entity representing a funding request for a construction project.\nEach draw contains multiple requests for budget line items (job items) and goes through a workflow\nfrom borrower submission to lender/capital partner approval.\nDraws belong to a property's budget (loan) and can include inspections, documents, events, and PDFs.\nUse draws to track the funding lifecycle of a construction project.\n","required":["id","name","number","historical","status","updated_at"],"properties":{"id":{"type":"integer","description":"Unique identifier for the draw","example":123},"name":{"type":"string","description":"Name of the draw","example":"Draw #1"},"number":{"type":"integer","minimum":1,"description":"Sequential draw number for the property","example":1},"historical":{"type":"boolean","description":"Whether this is a historical draw (created before property was added to Sitewire)","example":false},"status":{"type":"string","enum":["drafting","pending_borrower","inspecting","pending","pending_capital_partner","approved"],"description":"Current status of the draw in the workflow","example":"pending_approval"},"funding_ratio":{"type":"number","minimum":0,"maximum":100,"description":"Percentage of approved amounts that the lender will fund (0-100). Always numeric - 100.0 represents standard funding (100% coverage).","example":80.0},"funding_threshold_cents":{"type":"integer","minimum":0,"description":"Cumulative funding threshold in US cents across all job items for this draw. Amount the borrower must fund first before lender funding begins. Always numeric - 0 means no threshold.","example":5000},"coordinator_id":{"type":"integer","nullable":true,"description":"Unique identifier for the lender user coordinating this draw","example":456},"quick_notify_status_id":{"type":"integer","nullable":true,"description":"Identifier of the lender-defined quick notify status currently set on this draw. Nil when no st
[...]
